<div class="parallax img-1 d-flex align-items-center justify-content-center px-3">
    <h1>
        CRUD: <span class="text-warning">NodeJs</span>,
        <span class="text-success">MongoDB</span> e
        <span class="text-danger">Angular</span>
    </h1>
</div>

<div class="container text-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-12 col-lg-6">
            <img src="../../../../assets/mongo.png" width="350"/>
        </div>
        <div class="col-sm-12 col-lg-6">
            <p>
                MongoDB é um software de banco de dados orientado a 
                documentos livre, de código aberto e multiplataforma, 
                escrito na linguagem C++. Classificado como um programa 
                de banco de dados NoSQL, o MongoDB usa documentos 
                semelhantes a JSON com esquemas.
            </p>
        </div>
    </div>
</div>

<div class="parallax img-2 d-flex align-items-center justify-content-center px-3">
    <h1>
        Facilitando o desenvolvimento web
    </h1>
</div>

<div class="container text-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-12 col-lg-6 order-lg-last order-sm-first">
            <img src="../../../../assets/node.png" width="350"/>
        </div>
        <div class="col-sm-12 col-lg-6 order-lg-first order-sm-last">
            <p>
                Node.js é um software de código aberto, multiplataforma, 
                baseado no interpretador V8 do Google e que permite a 
                execução de códigos JavaScript fora de um navegador web.
            </p>
        </div>
    </div>
</div>

