<div class="container">
<h1 class="text-center mt-5">Pessoas</h1>

<div class="text-end mb-2">
    <button data-bs-toggle="modal" data-bs-target="#personModal" type="button" class="btn btn-success">Adicionar pessoa</button>
</div>

<table *ngIf="persons[0]" class="table table-dark">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.phone}}
            </td>
            <td>
                <div class="d-flex justify-content-evenly flex-wrap">
                    <button data-bs-toggle="modal" data-bs-target="#editModal" (click)="setPersonEdit(person)" type="button" class="btn btn-primary mb-1">Editar</button>
                    <button (click)="deletePerson(person)" type="button" class="btn btn-danger mb-1">Excluir</button>
                </div>
            </td>
        </tr> 
    </tbody>
</table>

<h2 *ngIf="!persons[0]" class="withoutPerson text-danger text-center">Não há pessoas cadastradas!</h2>

<div class="modal fade" id="personModal" tabindex="-1" aria-labelledby="personModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="personModalLabel">Cadastro de pessoa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="personForm">
            <div class="row mb-2">
                <div class="col-sm-12 col-md-2">
                  <label for="name" class="col-form-label">Nome:</label>
                </div>
                <div class="col-auto">
                  <input formControlName="name" type="text" id="name" class="form-control" aria-describedby="nameError">
                  <small *ngIf="(personForm.controls['name'].touched || personForm.controls['name'].dirty)
                  && personForm.controls['name'].errors?.['required']" id="nameError" class="form-text text-danger">
                    Nome é obrigatório
                  </small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-2">
                  <label for="phone" class="col-form-label">Número:</label>
                </div>
                <div class="col-auto">
                  <input formControlName="phone" type="tel" id="phone" class="form-control" aria-describedby="phoneError">
                  <small *ngIf="personForm.controls['phone'].touched || personForm.controls['phone'].dirty" id="phoneError" class="form-text text-danger">
                    <span *ngIf="personForm.controls['phone'].errors?.['pattern']">
                        Informe apenas números
                    </span>
                    <span *ngIf="personForm.controls['phone'].errors?.['required']">
                        Número é obrigatório
                    </span>
                  </small>
                </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button [disabled]="personForm.invalid" (click)="createPerson(personForm.value)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cadastrar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editando {{editPerson.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="personForm">
            <div class="row mb-2">
                <div class="col-2">
                  <label for="name" class="col-form-label">Nome:</label>
                </div>
                <div class="col-auto">
                  <input formControlName="name" type="text" id="name" class="form-control" aria-describedby="nameError">
                  <small *ngIf="(personForm.controls['name'].touched || personForm.controls['name'].dirty)
                  && personForm.controls['name'].errors?.['required']" id="nameError" class="form-text text-danger">
                    Nome é obrigatório
                  </small>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                  <label for="phone" class="col-form-label">Número:</label>
                </div>
                <div class="col-auto">
                  <input formControlName="phone" type="tel" id="phone" class="form-control" aria-describedby="phoneError">
                  <small *ngIf="personForm.controls['phone'].touched || personForm.controls['phone'].dirty" id="phoneError" class="form-text text-danger">
                    <span *ngIf="personForm.controls['phone'].errors?.['pattern']">
                        Informe apenas números
                    </span>
                    <span *ngIf="personForm.controls['phone'].errors?.['required']">
                        Número é obrigatório
                    </span>
                  </small>
                </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button [disabled]="personForm.invalid" (click)="updatePerson(personForm.value)" type="button" class="btn btn-success" data-bs-dismiss="modal">Salvar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>

</div>